.btn {
    width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color: $dark-green;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: $main-font;
    cursor: pointer;
}

.btn:hover {
    background-color: $green;
}

.btn:focus {
    outline: 0;
}

.btn--home {
    width: 166px;
    height: 49px;
}