.home__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
    list-style: none;

    .menu__item {
        display: none;
        padding: 10px;
        width: 100%;
        text-align: center;

        h4 {
            color: $white;
            text-transform: uppercase;
            font-family: $main-font;
            letter-spacing: 2.4px;
            cursor: pointer;
        }

        h4:hover {
            color: $green;
        }
    }

    .menu__item--active {
        display: block;
    }

    .menu__item--image {
        order: -1;
        margin-top: 10px;
        transform: scale(.7);
        margin-bottom: 100px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .home__menu {
        .menu__item {
            h4 {
                font-size: 30px;
            }
        }

        .menu__item--image {
            margin-top: 40px;
            transform: scale(1.2);
        }
    }
}