.home__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 180px;
    list-style: none;


    .menu__item {
        display: none;
        padding: 2px;
        width: 100%;
        text-align: center;

        h4 {
            color: $white;
            text-transform: uppercase;
            font-family: $main-font;
            letter-spacing: 2.4px;
            cursor: pointer;
        }

        h4:hover {
            color: $green;
        }
    }

    .menu__item--active {
        display: block;
        background-color: rgba(0, 0, 0, .2);
    }

    .menu__item--image {
        order: -1;
        margin-top: 10px;
        transform: scale(.7);
    }
}