$main-font:'M PLUS Rounded 1c',
sans-serif;
$secondary-font: 'Montserrat',
sans-serif;

//colors

$white: #fff;
$green: #1abc9c;
$dark-green: #16a085;

// $main-font: 'Montserrat',
// sans-serif;
// $sub-title: 'Oleo Script',
// cursive;
// $pharagraph: "Roboto Slab",
// sans-serif;